@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: black;
  color: whitesmoke;
  text-align: center;
  margin-top: 100px;
}
#app {
  display: flex;
  flex-flow: row wrap;
}
.card {
  margin: 30px;
}
