@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: black;
  color: whitesmoke;
  text-align: center;
  margin-top: 100px;
}
#login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#app {
  display: flex;
  flex-flow: column wrap;
}
.card {
  margin: 30px;
}

#main-container {
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;
  margin-top: 100px;
  align-content: center;

  .add-button {
    margin: 0 auto;
    text-align: center;
  }
#google-auth.btn {
  width: 400px;
  justify-content: center;
}
  #form-container {
    width: 400px;
    margin: auto;
    justify-content: center;
    color: white;

    #formModal {
      color: black;
    }
  }

  #store {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin: auto;
    justify-content: center;

    .card {
      width: 300px;
      margin: 5px;

      .sale-badge {
        font-size: 1em;
        background-color: blue;
      }
    }

    .table {
      margin: 10px;
      width: 80%;
      margin: 0 auto;
    }
  }
}

#view {
  width: 90%;
  margin: auto;

  .details {
    min-width: 50%;
    max-width: 60%;
  }

  .description {
    white-space: pre-wrap;
  }
}
